// ========== Helpers ==========

// Clearfix
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

/* Visually hide (enable screen readers)
Usage: .visually-hidden { @extend %visuallyhidden; } */
%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

// ========== Media queries ==========

@mixin screen($screenSize, $type: min) {
    @if map_has_key($breakpoints, $screenSize) {
        $width: map_get($breakpoints, $screenSize);

        @if ($type == max) {
            $width: $width - 1px;
        }

        @media screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

