.container {
	margin: 0 auto;
	width: 280px;
	@include clearfix();
	
	// ----- Media queries -----
	@include screen(xs) {
		width: 440px;
	}
	@include screen(sm) {
		width: 728px;
	}
	@include screen(md) {
		width: 952px;
	}
	@include screen(lg) {
		width: 1180px;
	}
}