extends templates/layout.pug

block title
    title New Project

block content
    .main-wrapper
        header.page-header
            .container
                h1.test New Project
                div
                    img(src=require('./img/t5YuoTL8H10.jpg'))
    footer.page-footer
        .container