@font-face {
    font-family: 'exo_2.0black';
    src: url('../fonts/exo2.0-black-webfont.eot');
    src: url('../fonts/exo2.0-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-black-webfont.woff2') format('woff2'),
         url('../fonts/exo2.0-black-webfont.woff') format('woff'),
         url('../fonts/exo2.0-black-webfont.ttf') format('truetype'),
         url('../fonts/exo2.0-black-webfont.svg#exo_2.0black') format('svg');
    font-weight: normal;
    font-style: normal;
}